/* Set the body defaults */
@font-face {
  font-family: "Campton";
  src: url(../campton-bold.otf) format("opentype");
}

@font-face {
  font-family: "Campton-light";
  src: url(../campton-light.otf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #f8f8f8;
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.mainPage {
  width: 100%;
  height: 100vh;
}

header.header {
  height: 70px;
  border-bottom: 1px solid rgba(28, 32, 51, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 10%;
}

.ourStoryWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ourStoryWrapper select {
  font-family: "Campton-light";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #2b3a42;
  border-bottom: 1px solid #1d272c;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  outline: 0px;
  background-color: inherit;
}

.ourStoryWrapper > a {
  font-family: "Campton-light";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #2b3a42;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #1d272c;
  border-radius: 4px 0px;
}

/* Slideshow container */
.slideshow-container {
  height: calc(100vh - 250px);
  margin: auto;
}

.sliderWrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 80%;
}

.sliderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 60px;
  padding: 10px;
  margin: 15px 0;
}

.text {
  text-align: center;
  font-family: "Campton", sans-serif;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 3px;
  /* color: #1d272c; */
}

/* Hide the images by default */
.mySlides {
  display: none;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 4px;
}

.mySlides img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: rgba(217, 217, 217, 0.61);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: 10px;
}

.active,
.dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.divider {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(149, 156, 160, 1);
}
#source {
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.source {
  margin-left: 5px;
  color: #bdd4de;
}

/* Player Styles */

div#amplitude-player {
  width: 100%;
  display: flex;
  gap: 1rem;
    flex-wrap: wrap;
  justify-content: center;
  background-color: #1d272c;
  align-items: center;
}

div#share {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: url("../images/share.png") no-repeat;
  background-size: contain;
}

progress.amplitude-song-played-progress {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 500px;
  margin-left: 20px;
  cursor: pointer;
  border: 0px;
}

progress.amplitude-song-played-progress:not([value]) {
  background-color: #2b3a42;
}

progress[value]::-webkit-progress-bar {
  background-color: #3f5765;
}

progress[value]::-moz-progress-bar {
  background-color: #3f5765;
  height: 5px;
}

progress[value]::-webkit-progress-value {
  background-color: #bdd4de;
  height: 5px;
}

.time-container {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}

.volume {
  display: flex;
  align-items: center;
  gap: 15px;
}

div#volume-container div.amplitude-mute {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
div#volume-container div.amplitude-mute.amplitude-not-muted {
  background: url("../images/unmute.png");
  background-repeat: no-repeat;
  background-size: contain;
}

div#volume-container div.amplitude-mute.amplitude-muted {
  background: url("../images/mute.png");
  background-repeat: no-repeat;
  background-size: contain;
}

progress.amplitude-volume-slider {
  -webkit-appearance: none;
}

@-moz-document url-prefix() {
  progress.amplitude-volume-slider {
    margin-top: 0px;
  }
}
@supports (-ms-ime-align: auto) {
  progress.amplitude-volume-slider {
    margin-top: 3px;
    height: 12px;
    z-index: 999;
    position: relative;
  }
}

@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  progress.amplitude-volume-slider {
    margin-top: -24px;
    background-color: rgba(255, 255, 255, 0) !important;
  }
}
.amplitude-volume-slider:focus {
  outline: none;
}

input[type="range"].amplitude-volume-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  animate: 0.2s;
}

input[type="range"].amplitude-volume-slider::-webkit-slider-thumb {
  visibility: hidden;
}

input[type="range"].amplitude-volume-slider::-moz-range-track {
  width: 100%;
  cursor: pointer;
  animate: 0.2s;
}

input[type="range"].amplitude-volume-slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  border-color: transparent;
  border-width: 15px 0;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#previous {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: url("../images/previous.png") no-repeat;
  background-size: contain;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 0 10px;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-paused {
  background: url("../images/play.png") no-repeat;
  background-size: contain;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-playing {
  background: url("../images/pause-circle.png") no-repeat;
  background-size: contain;
}

div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#next {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: url("../images/next.png") no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 260px) {
  div#central-controls {
    float: right;
  }
}

/* Small only */
@media only screen and (max-width: 39.9375em) {
  div#amplitude-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0.5em;
  }

  progress.amplitude-song-played-progress {
    width: 250px;
  }

  div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#previous {
    width: 50px;
    height: 50px;
  }

  div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#play-pause {
    width: 60px;
    height: 60px;
  }
  div#amplitude-left div#player-left-bottom div#control-container div#central-control-container div#central-controls div#next {
    width: 50px;
    height: 50px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

/* Medium only */
@media screen and (min-width: 38.8em) and (max-width: 50em) {
  div#amplitude-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem 2rem;
    gap: 2em;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* my story page */
section .heading {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Campton";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  color: #2b3a42;
  padding: 30px;
}

.my-story-content {
  padding-left: 10%;
  display: flex;
  position: relative;
  gap: 10px;
}

section .aside1 {
  flex: 0.5;
}

section .aside2 {
  flex: 0.5;
}

section p {
  font-family: "Campton-light";
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  color: #2b3a42;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer {
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1d272c;
}

.imgWrapper {
  display: flex;
}

.imgContainer {
  width: 100%;
  height: 100%;
}

.imgContainer img.img {
  width: 100%;
  height: 80%;
}

.abs {
  position: absolute;
  right: 18%;
}

.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 980px) {
  .text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 900px) {
  section .aside p {
    font-size: 16px;
  }

  .paragraph {
    gap: 20px;
  }
  section .heading {
    font-size: 30px;
  }
  footer.footer {
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
  section .aside1 {
    flex: 0.7;
  }

  section .aside2 {
    flex: 0.3;
  }
  .abs {
    right: 22%;
  }
}

@media only screen and (max-width: 680px) {
  .text {
    font-size: 20px;
  }
  img.titleImg {
    height: 60px;
  }
  .headerImg {
    max-width: 150px;
    width: 100%;
  }

  .headerImg img {
    width: 100%;
  }
  section .heading {
    font-size: 20px;
  }
  footer.footer {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .hide {
    display: none;
  }
  section .aside1 {
    flex: 1;
    /* width: 100%; */
  }
  section .aside2 {
    flex: 0;
  }
  .my-story-content {
    padding-right: 8%;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 18px;
  }
  img.titleImg {
    height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .text {
    font-size: 14px;
  }
  .headerImg {
    width: 100px;
  }

  .ourStoryWrapper select {
    font-size: 14px;
  }

  .ourStoryWrapper > a {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer.footer {
    font-size: 16px;
  }
}
